services:
  nginx:
    # 用的 nginx:1.29.4-alpine3.23-slim
    image: ${IMAGE_PREFIX_DOMAIN}renkx/nginx:latest
    container_name: nginx
    hostname: nginx
    init: true
    volumes:
      # 共享内存
      - /dev/shm:/dev/shm
      - ./www:/www/:rw
      - ./conf/default:/conf:rw
      - ./conf/default:/etc/nginx/conf.d/:rw
      - ./conf/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      # 公共配置
      - ./conf/nginx/common:/common:ro
    restart: always
    environment:
      TZ: "Asia/Shanghai"
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "3"
    network_mode: "host"

  ag:
    image: ${IMAGE_PREFIX_DOMAIN}renkx/xray:latest
    container_name: ag
    hostname: ag
    init: true
    volumes:
      - ./conf/default:/etc/xray/:rw
      - ./conf/ag/entrypoint.sh:/entrypoint.sh:rw
    restart: always
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "3"
    network_mode: "host"

  sd:
    # 用的 pymumu/smartdns:latest
    image: ${IMAGE_PREFIX_DOMAIN}renkx/smartdns:latest
    container_name: sd
    hostname: sd
    init: true
    volumes:
      - ./conf/smartdns/${SD_DIR}:/etc/smartdns/:rw
      - ./conf/default:/conf:rw
    restart: always
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "3"
    network_mode: "host"

  realm:
    image: ${IMAGE_PREFIX_DOMAIN}renkx/smartdns:realm2
    container_name: realm
    hostname: realm
    init: true
    volumes:
      - ./conf/default/realm.toml:/etc/realm/realm.toml:rw
    restart: always
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "3"
    command: -c /etc/realm/realm.toml
    network_mode: "host"

  komari:
    image: ghcr.io/komari-monitor/komari:latest
    container_name: komari
    hostname: komari
    init: true
    volumes:
      - ~/data/komari:/app/data
    restart: always
    environment:
      TZ: "Asia/Shanghai"
    ports:
      - "127.0.0.1:25774:25774"
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "3"
    networks:
      - default