services:
  nginx:
    image: ${IMAGE_PREFIX_DOMAIN}renkx/nginx:latest
    container_name: nginx
    hostname: nginx
    init: true
    volumes:
      # 容器共享目录
      - /ag-data:/conf:rw
      # 共享内存
      - /dev/shm:/dev/shm
      - ./www:/www/:rw
      - ./conf/default/nginx:/etc/nginx/conf.d/:rw
      - ./conf/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      # 公共配置
      - ./conf/nginx/common:/common:ro
    restart: always
    environment:
      TZ: "Asia/Shanghai"
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "3"
    network_mode: "host"

  ag:
    image: ${IMAGE_PREFIX_DOMAIN}renkx/xray:latest
    container_name: ag
    hostname: ag
    init: true
    volumes:
      - ./conf/default:/etc/xray/:rw
      - ./conf/ag/entrypoint.sh:/entrypoint.sh:rw
    restart: always
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "3"
    network_mode: "host"

  sd:
    # 用的 pymumu/smartdns:latest
    image: ${IMAGE_PREFIX_DOMAIN}renkx/smartdns:latest
    container_name: sd
    hostname: sd
    init: true
    environment:
      - SERVER_REGION=${SD_SERVER_REGION:-GLOBAL}
    volumes:
      - ./conf/default:/conf:rw
      - ./conf/smartdns/entrypoint.sh:/entrypoint.sh:rw
    restart: always
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "3"
    entrypoint: ["/bin/sh", "/entrypoint.sh"]
    network_mode: "host"

  realm:
    image: ${IMAGE_PREFIX_DOMAIN}renkx/realm2:latest
    container_name: realm
    hostname: realm
    init: true
    volumes:
      - ./conf/default/realm.toml:/etc/realm/realm.toml:rw
    restart: always
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "3"
    command: -c /etc/realm/realm.toml
    network_mode: "host"